doctype html
html(lang="pt-br", ng-app="app")
	head
		meta(charset="utf-8")
		title MIPS Pipeline

		// build:css style/components.css
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="../bower_components/font-awesome/css/font-awesome.min.css")
		// endbuild


		// build:css style/app.css
		link(rel="stylesheet", href="style/style.css")
		// endbuild
	body
		.container-fluid
			div(ng-controller="PipelineController as app")
				header.row
					.col-md-12
						include _partials/header.pug
				.row(ng-show="app.executado")
					footer
						include _partials/footer.pug
					section
						.col-md-12
							canvas#pipeline

		// build:js js/components.js
		script(src="../bower_components/fabric.js/dist/fabric.min.js")
		script(src="../bower_components/systemjs/build/system.min.js")
		script(src="../bower_components/angular/angular.min.js")
		script(src="../bower_components/angular-bootstrap/ui-bootstrap.min.js")
		script(src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
		// endbuild

		// build:js js/app.js
		script(src="js/app.js")
		// endbuild