doctype html
html(lang="pt-br", ng-app="app")
	head
		meta(charset="utf-8")
		title MIPS Pipeline

		// build:css style/components.css
		link(rel="stylesheet", href="../bower_components/bootstrap/dist/css/bootstrap.css")
		// endbuild


		link(rel="stylesheet", href="style/style.css")
	body
		.container-fluid
			div(ng-controller="PipelineController as app")
				header.row
					.col-md-12
						include _partials/header.pug
			section.row
				.col-md-12
					canvas#pipeline
			footer
				include _partials/footer.pug

		script(src="../bower_components/fabric.js/dist/fabric.min.js")
		script(src="../bower_components/systemjs/build/system.min.js")
		script(src="../bower_components/angular/angular.min.js")

		script(src="js/app.js")